<div class="flex flex-row border-t justify-start pt-8 border-black w-128 bg-zinc-50 h-full">
    <div class="flex flex-col space-y-3 px-6">
        <div *ngFor="let item of menuItems" class="cursor-pointer hover:border-b hover:border-black"
            (click)="loadMenuItems(item)">
            {{item.itemTitle}}
        </div>
    </div>
    <div>
        <div *ngIf="menuItemsChosen" class="flex flex-col space-y-3">
            <div *ngFor="let item of menuItemsChosen.menuItems">
                {{item}}
            </div>
        </div>
    </div>
</div>